<img class="man-img" src="/static/img/man.jpg">
    
<div class="cytat">
    <p class="cytat-title">
        “Nie wiem jaka broń będzie używana podczas Trzeciej Wojny Światowej, ale myślę, że Czwarta będzie na kije i kamienie.”<br>
        <span class="cytat-nameAuthor">~Albert Einstain</span>
    </p>
</div>

<span style ='clear: both;'></span>

<article class="main-content-p">
    <div class='short-scrout'>
        <div class="pog-man">
            <img class="man2-img" src="/static/img/man2.jpg">
        </div>
        
        <div class="the-text txt-with-man">
            <h2>Pisanie w Wielu Technologiach</h2>
            <span>np. Python, Javascript, Angular</span>
        </div>

        <div class="the-text txt-with-man-fRight">
            <h2>Doświadczenie w WebDevelopmencie</h2>
            <span>Programuję strony internetowe od Roku!</span>
        </div>

        <div class="the-text txt-with-man sectxt">
            <h2>Wiele certyfikatów</h2>
            <span>Posiadam sporą ilość certyfikatów ukończenia kursów</span>
        </div>

        <div class="the-text txt-with-man-fRight sectxt">
            <h2>Dostosowanie do wielkości urządzenia</h2>
            <span>Strony Są dostosowanie do Wielkości Urządzzenia</span>
        </div>

        <div class="the-text txt-with-man sectxt">
            <h2>Możliwości Loginu się</h2>
            <span>Potrafię zaprogramować system logowania w pythonie</span>
        </div>

        <div class="the-text txt-with-man-fRight sectxt">
            <h2>Rozwój</h2>
            <span>Moję umiejętności ciągle rosną. Zdobywam coraz większe doswiadczenie</span>
        </div>
    </div>
</article>

