<article class="art">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">O Mnie</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Certyfikaty</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Języki Obce</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="about-tab" data-bs-toggle="tab" data-bs-target="#about" type="button" role="tab" aria-controls="contact" aria-selected="false">O Stronie</button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            Mam Na Imię <b>Marek</b>. Jestem Młodym 16-latkiem Aspirującym na <b>programistę</b>. Swoję praktyczne doświadczenie zdobywam poprzez kursy na stronie internetowej <a class="my-link" href="https://www.udemy.com/"><b>Udemy</b></a>.
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <b>Ukończone Kursy:</b> <br>
            <a class="my-link" href="https://udemy-certificate.s3.amazonaws.com/image/UC-ff77b05f-c44a-45a9-a6a0-4754bdf9a9a3.jpg"><b>Kurs Python Poziom Średio Zaawansowany</b></a> <br>

            <a class="my-link" href="https://udemy-certificate.s3.amazonaws.com/image/UC-a316e126-cf6a-4d6a-b71b-397e0cba58ab.jpg"><b>Python Flask</b></a> <br>

            <a class="my-link" href="https://udemy-certificate.s3.amazonaws.com/image/UC-ef6d0235-378d-4e69-bedd-99160514c7bc.jpg"><b>Full Stack Web Developer</b></a> <br>
        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            <b>Język Angielski</b> Na poziomie B1 (Komunikatywny)
        </div>
        <div class="tab-pane fade" id="about" role="tabpanel" aria-labelledby="about-tab">
            Ta Strona Internetowa jest zrobiona w celu przedstawienia fragmentu moich doświadczeń z programowaniem. Służy Ona jako przyjamniejsza wersja przeglądania kodu. Zamiast sprawdzać co i jak działa linijka po linijce, w jakimś stopmiu debugując kod, Jest możliwość przyjemnego poklikania :-). <br>
            Mimo że aplikacja nie jest bardzo zaawansowane, natomiast spędziłem nad nią trochę czasu kodując i wymyślając nowe rozwiązania co było zabawne! Mam nadzieje że Doceni pan mój projekt :) <br>
            Aby Móc wysyłać Emaile w podstronce kontakt trzeba się wpierw zalogować, (admin, admin) (nazwa,hasło) Jeśli zechce pan się zarejejstrować zostanie wysłany email z kodem weryfikacyjnym.
            Jeśli zechce pan sprawdzić w jaki sposób postuję się ogłoszenia na blogu proszę wejść na konto administracyjne
            <b>Kod Źródłowy:</b> <a class='my-link' href="https://github.com/Marek-Mal"><b>GitHub</b></a>
        </div>
      </div>
</article>
