<footer class="footer">
    <table>
        <tr>
            <div class="column1 footer-column">
                <p><b>Strona Została Wykonana Przez: "Marek Malinowski" <br> Od Front-endu &copy;</b></p>
            </div>
        </tr>
        <tr>
            <div class="column2 footer-column">
                <p>Wszystkie zdjęcia pochodzą z Google Grafika i nie mam do nich praw. Użyte zostały jako Przykład <b style="color:red;">!!!</b></p>
            </div>
        </tr>
        <tr>
            <div class="column3 footer-column">
                <p>The Example Text that you can put right here. It can be anything links to pages or anything you wish</p>
        </tr>
    </table>
    </div>
</footer>

</body>
</html>