body {
    text-align: center;
}
form {
    display: inline-block;
    justify-content: center;
    margin-top: 250px;
    transform: scale(2) !important;
}

a {
    text-decoration: none;
    color:rgb(103, 7, 182);
}

p {
    font-size: 10px;
}